@use "@/styles" as *;

.delete-service-modal {
  &__message {
    margin-bottom: $spacing-lg;
    color: $color-gray-700;
    line-height: $line-height-relaxed;

    strong {
      color: $color-gray-900;
      font-weight: $font-weight-semibold;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: $spacing-md;
  }
}

