@use "@/styles" as *;

.displays-header {
  @include flex-between;
  gap: $spacing-md;
  flex-wrap: wrap;
  margin-bottom: $spacing-xl;

  &__title {
    font-size: $font-size-3xl;
    font-weight: $font-weight-semibold;
    margin: 0 0 $spacing-xs;
    color: $color-gray-900;
  }

  &__subtitle {
    font-size: $font-size-base;
    color: $color-gray-600;
    margin: 0;
  }
}

