@use "@/styles" as *;

.qr-form-modal {
  &__fields {
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
    margin-bottom: $spacing-xl;
  }

  &__field {
    &--full {
      grid-column: 1 / -1;
    }
  }

  &__label {
    display: block;
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    color: $color-gray-700;
    margin-bottom: $spacing-xs;
  }

  &__checkbox {
    margin-left: $spacing-sm;
    margin-right: $spacing-xs;
  }

  &__checkbox-label {
    font-weight: $font-weight-normal;
  }

  &__actions {
    @include flex-between;
    gap: $spacing-md;
    padding-top: $spacing-lg;
    border-top: $border-width-thin solid $color-gray-200;
  }
}

