@use "@/styles" as *;

.delete-module-modal {
  @include flex-column;
  gap: $spacing-lg;

  &__message {
    color: $color-gray-700;
    line-height: $line-height-relaxed;
    margin: 0;
  }

  &__actions {
    @include flex-between;
    gap: $spacing-md;
    padding-top: $spacing-lg;
    border-top: $border-width-thin solid $color-gray-200;

    @include respond-to(md) {
      justify-content: flex-end;
    }
  }
}


