@use "@/styles" as *;

.service-form-modal {
  &__form {
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $spacing-md;

    @include respond-to(md) {
      grid-template-columns: 1fr;
    }
  }

  &__field {
    &--full {
      grid-column: 1 / -1;
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
    cursor: pointer;
    font-size: $font-size-sm;
    color: $color-gray-700;

    input[type="checkbox"] {
      width: 18px;
      height: 18px;
      cursor: pointer;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: $spacing-md;
    margin-top: $spacing-lg;
    padding-top: $spacing-lg;
    border-top: 1px solid $color-gray-200;
  }
}

