@use "@/styles" as *;

.select-wrapper {
  @include flex-column;
  gap: $spacing-xs;
  width: 100%;

  &--full {
    grid-column: 1 / -1;
  }
}

.select-label {
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  color: $color-gray-700;
}

.select-required {
  color: $color-error;
  margin-left: $spacing-xs;
}

.select {
  width: 100%;
  padding: $spacing-sm $spacing-md;
  border: $border-width-thin solid $color-gray-300;
  border-radius: $border-radius-md;
  font-size: $font-size-base;
  color: $color-gray-900;
  background-color: $color-white;
  transition: border-color $transition-fast, box-shadow $transition-fast;
  cursor: pointer;

  &:focus {
    outline: none;
    border-color: $color-primary;
    box-shadow: 0 0 0 3px rgba($color-primary, 0.1);
  }

  &:disabled {
    background-color: $color-gray-100;
    cursor: not-allowed;
    opacity: 0.6;
  }

  &--error {
    border-color: $color-error;

    &:focus {
      box-shadow: 0 0 0 3px rgba($color-error, 0.1);
    }
  }
}

.select-error {
  font-size: $font-size-xs;
  color: $color-error;
}
