@use "@/styles" as *;

.qr-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: $spacing-lg;

  &--state {
    @include flex-center;
    padding: $spacing-4xl;
    color: $color-gray-500;
    font-size: $font-size-lg;
    text-align: center;
  }

  @include respond-to(sm) {
    grid-template-columns: 1fr;
  }
}

